VITE_CLERK_PUBLISHABLE_KEY=

# Supabase
VITE_SUPABASE_URL=https://projectid.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=

# Set to true to skip auth redirect during local development
VITE_DISABLE_AUTH=true